
<div class="scrollable">
  <table class="table justify-content-center">
    <thead class="thead-dark">
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Libelle </th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Mark</td>
      <td><span class="btn btn-danger"><i class="far fa-trash-alt"></i></span></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Marùmlkjhgfd,ndfghk</td>
      <td>Mark</td>
      <td><span class="btn btn-danger"><i class="far fa-trash-alt"></i></span></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Mark</td>
      <td><span class="btn btn-danger"><i class="far fa-trash-alt"></i></span></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Mark</td>
      <td><span class="btn btn-danger"><i class="far fa-trash-alt"></i></span></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Mark</td>
      <td><span class="btn btn-danger"><i class="far fa-trash-alt"></i></span></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Mark</td>
      <td><span class="btn btn-danger"><i class="far fa-trash-alt"></i></span></td>
    </tr>


    </tbody>
  </table>
</div>
