
  <div class="row m-2">
  <!--<img class="logo rounded-circle" src="assets/logo/logo3.png" alt="logo">-->
  <h2 class="text-center col m-2" >STREET KNOWLEDGE ACADEMY</h2>
</div>
  <div class="row m-3 p-3 h-75">
    <div class="col-lg-2 d-none d-lg-block">
      <!---->
    </div>
    <div class="col-lg-4 d-none d-lg-block p-5">
      <app-school-desc></app-school-desc>
    </div>
    <div class="col-lg-4 col-sm-12 mt-5 align-content-center">
      <app-login-form></app-login-form>
    </div>
    <div class="col-lg-2 d-none d-lg-block">
      <!---->
    </div>
  </div>
  <hr>

  <h2 class="text-capitalize text-center"> Partners</h2>
  <div class=" text-center ">
    <span class="col-md-3 col-sm-12"><img class="partner-glyph" src="assets/partenaire/atos.png" alt="Atos"></span>
    <span class="col-md-3 col-sm-12"><img class="partner-glyph" src="assets/partenaire/jumia.png" alt="Jumia"></span>
    <span class="col-md-3 col-sm-12"><img class="partner-glyph" src="assets/partenaire/Logo-Sonatel-Academy.png" alt="2stv"></span>
  </div>
  <hr>
  <h4 class="text-center">Follow us</h4>
  <div  class="text-center">
    <a><i class="glyph-icon b-form-title fab fa-twitter "></i></a>
    <a><i class="glyph-icon b-form-title fab fa-facebook"></i></a>
    <a><i class="glyph-icon b-form-title fab fa-instagram"></i></a>
    <a><i class="glyph-icon b-form-title fab fa-linkedin-in"></i></a>
    <a><i class="glyph-icon b-form-title fab fa-pinterest-p"></i></a>
  </div>


