<div class="accordion" id="accordion.{{grpSkills.id}}">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapseOne'+grpSkills.id" aria-expanded="true" aria-controls="collapseOne">
          {{grpSkills.libelle}}
        </button>
      </h5>
    </div>

    <div [id]="'collapseOne'+grpSkills.id" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{grpSkills.descriptif}}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapseTwo'+grpSkills.id" aria-expanded="false" aria-controls="collapseTwo">
          Competences
        </button>
      </h5>
    </div>
    <div [id]="'collapseTwo'+grpSkills.id" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body scrollable">

        <div *ngFor="let skill of grpSkills.competences" class="alert alert-dismissible alert-secondary">
          <strong >{{skill.libelle}}</strong>
        </div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapseThree'+grpSkills.id" aria-expanded="false" aria-controls="collapseThree">
          Tag
        </button>
      </h5>
    </div>
    <div [id]="'collapseThree'+grpSkills.id" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit,  Brunch 3 wolf moon tempor, sunt aliqua
        put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      </div>
    </div>
    <div class="card-footer">
      <button [routerLink]="['/admin/group-skills/edit-groupe-competences/',grpSkills.id]" class="btn btn-outline-info float-left"><i class="far fa-edit"></i></button>
      <button class="btn btn-outline-danger float-right"><i class="far fa-trash-alt"></i></button>
    </div>
  </div>

</div>
